.main-categories-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); // 1 Column
  column-gap: 5px;
  row-gap: 25px;
  padding: 10px 10px 25px;
  @include breakpoint(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr)); // 1 Column
    row-gap: 20px;
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(3, minmax(0, 1fr)); // 1 Column
    row-gap: 25px;
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr)); // 1 Column
    row-gap: 15px;
  }
  @include breakpoint(xl) {
    grid-template-columns: repeat(5, minmax(0, 1fr)); // 1 Column
    row-gap: 15px;
  }
  @include breakpoint(xxl) {
    row-gap: 25px;
  }
  .category-item {
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.sub-categories-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 10px 20px;
  @include breakpoint(sm) {
    margin: 0 -10px 0;
  }
  @include breakpoint(md) {
    margin: 15px 15px 25px;
  }
  .sub-category-item {
    flex-basis: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .social span {
      color: white !important;
    }
    @include breakpoint(sm) {
      margin: 0 10px 10px;
      padding-bottom: 15px;
      flex-basis: calc(50% - 20px);
    }
    @include breakpoint(md) {
      margin-bottom: 15px;
      padding-bottom: 10px;
      flex-basis: calc(33.333334% - 20px);
    }
    @include breakpoint(lg) {
      padding-bottom: 0;
      flex-basis: calc(25% - 20px);
    }
  }
}

.sub-categories-wrapper-main-wrapper {
  background-color: $color-primary;
  border-radius: 6px;
}
