.steps-wrapper {
  background-color: $color-primary;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 4px;
  padding: 0 5px;
  @include breakpoint(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include breakpoint(md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @include breakpoint(xl) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .step {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 15px;
    max-width: 300px;
    &:not(:last-of-type) {
      border-right: 1px solid rgba(255, 255, 255, 0.4);
    }
    .icon-wrapper,
    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 0;
    }
    .icon-wrapper img {
      height: 55px;
      width: 55px;
    }
    .content-wrapper {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.36em;
      flex: 1;
      justify-content: flex-start;
      margin-left: 5px;
      .overlay {
        position: absolute;
        color: #000;
        background-color: #fff;
        font-size: 14px;
        top: calc(100% - 10px);
        left: 50%;
        visibility: hidden;
        opacity: 0;
        z-index: 999999;
        min-width: 200px;
        height: min-content;
        padding: 10px 15px;
        border: 1px solid #eaebef;
        border-radius: 6px;
        box-shadow: 0 2px 15px -4px rgba(0, 0, 0, 0.4);
        transform: translateX(-50%);
        transition: opacity 0.2s ease, top 0.2s ease;
        &::before {
          content: "";
          top: 0;
          left: 50%;
          height: 15px;
          width: 15px;
          background-color: #fff;
          display: block;
          position: absolute;
          left: 50%;
          top: -2.5px;
          transform: rotate(45deg) translateX(-50%);
          border-top: 1px solid #aeabec;
          border-left: 1px solid #aeabec;
        }
      }
    }
    &:hover .content-wrapper .overlay {
      visibility: visible;
      opacity: 1;
      top: calc(100% - 7px);
    }
  }
}
